<div class="footer">
    <div class="foot">
      <h4>Address</h4>
      <p class="para">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, hic.
      </p>
      <br />
      <h4>Phone No</h4>
      <p class="para">8551945589</p>
    </div>
  
    <div class="foot">
      <h4>Testimonial</h4>
      <br />
      <p class="para">
        Testimonial This Surgery Has Been Miracle To Me.. <br /><br />
        Ashwini Ghorpade Nigeria I Had A Great Experience In DMH When I Was In
        Cardiac Care Unit. <br /><br />
        Mr Arvind Apte Pune I Witnessed Excellent Care Taken In PICU (Pediatric
        Intensive Care Unit). <br /><br />
        Dr Dongre We Are Fully Satisfied With The Services Provided At Such A
        Reasonable Cost. <br /><br />
        Smt Phulambrikar Pune Quick Responsive And Very Much Attentive Staff In
        The Emergency OPD. Mr Uday Kulkarni Pune
      </p>
    </div>
    <div class="foot">
      <h4>Quick links</h4>
      <ul style="list-style: none">
        <li class="lis-item"><a href="#">OPD Schedule</a></li>
        <li class="lis-item"><a href="#">Events / News</a></li>
        <li class="lis-item"><a href="#">Photo</a></li>
        <li class="lis-item"><a href="#">Gallery</a></li>
        <li class="lis-item"><a href="#">Video</a></li>
        <li class="lis-item"><a href="#">Site Map</a></li>
        <li class="lis-item"><a href="#">Disclaimer</a></li>
      </ul>
    </div>
  </div>
  