<div class="background">
    <div class="about-section">
        <h1>About Us HM</h1>
        <p>As per the survey conducted by NewsWeek
          It all started with a vision.</p>
        <p>HM has been voted as the BEST PRIVATE HOSPITAL IN INDIA</p>
        <h6>HM’s massive 2.1 million sq. ft. campus provides 1,600+ beds and houses facilities for over 22+ super-specialties, all under one roof. Each floor is dedicated to a specialisation to ensure that they function as independent hospitals within a hospital and yet have the comfort of collaborating on complex cases. Patients are provided with multiple options for treatment, the most suitable of which are arrived at through a cross-function, cross-specialisation committee such as Tumor board that decides the best course of action</h6>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Dr. Naman Trehan</h2>
              <p class="title">Chairman & Managing Director, HM</p>
              <h6>We have built an institution which matches the highest standards of healthcare delivery across the world, where care is provided to patients at an affordable cost. </h6>
              <p>Naman@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Dr. Mike Ross</h2>
              <p class="title">Co-Director</p>
              <h6>With a commitment to deliver the best outcome in everything we do through exemplary action and behavior</h6>
              <p>mike@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/w3images/team3.jpg" alt="John" style="width:100%">
            <div class="container">
              <h2>Dr. John Doe</h2>
              <p class="title">MD</p>
              <h6>Promote teamwork and collaboration, welcome change and creativity to encourage innovation and seek better ways to achieve our goals.</h6>
              <p>john@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    