<head>
	<meta charset="UTF-8">
	<title>Patient Table </title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<section class="main-content">
		<div class="container">
			<h1>List of patients </h1>
			<br>

			<table class="table table-bordered">
				<thead class="thead">
					<tr>
						<th>p_id</th>
						<th>dob</th>
						<th>p_contact_no</th>
						<th>p_gender</th>
						<th>p_name</th>
                        <th>p_username</th>
					</tr>
				</thead>
                <tbody class="tbody">
                    <tr *ngFor="let patient of patientlist">
                        <td>{{patient.p_id}}</td>
                        <td>{{patient.dob}}</td>
                        <td>{{patient.p_contact_no}}</td>
                        <td>{{patient.p_gender}}</td>
                        <td>{{patient.p_name}}</td>
                        <td>{{patient.p_username}}</td>
                    </tr>
                        

                    
                </tbody>
            </table>
        </div>
    </section>
</body>
