.main-content {
  background-image: url("https://media.istockphoto.com/photos/close-up-of-doctor-is-touching-digital-virtual-screen-for-analytics-picture-id1273886962?b=1&k=20&m=1273886962&s=170667a&w=0&h=f9FyAVFdXEwAv7qdEFWbdfLoqa7z87rwyKsd9iqrjBw=");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
