.register {
    margin-top: 100px;
    width: 30%;
    height:100%;
    color: white;
    background: #53706b;
    margin: auto;
    box-shadow: 0px 30px 60px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 50px;
  }
  .head {
    text-align: center;
  }
  .form-group {
    padding: 30px;
  }
  .background {
    width: 100%;
    height: 80%;
   
    background: url("https://media.istockphoto.com/photos/table-setting-for-an-event-party-or-wedding-reception-picture-id479977238?k=20&m=479977238&s=612x612&w=0&h=6yuuuuHTvosXEGwlPTdY8V4N95issAzrTTQ9ZKN1w3E=");
    
    background-size: cover;
  }
  #name,
  #password,#gender,#email,#contactNo,#specialty {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    padding: 8px;
  }
  .text::placeholder {
    color: white;
  }
  .button {
    text-align: center;
  }
  .btn-register {
    text-align: center;
    padding: 8px;
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
  }
  .btn-register:hover {
    background: white;
    color: dimgray;
  }
  .text::placeholder {
    color: #d3d3d3;
  }
  option{
      background-color:darkgoldenrod;
  }
  