<div class="background">
    <div class="login">
        <div class='head'>
            <h1 class='company'>Hospital Management System</h1>
        </div>
        <p class='msg'>Welcome back admin</p>
        <div class='form'>
<form #f="ngForm" (ngSubmit) = "onSubmit(f)">
    <div class="form-group">
        <input id="username" type="text" class="text" name="username" placeholder="UserName" ngModel>
    </div>
    <div class="form-group">
        <input id="password" type="password" class="text" name="password" placeholder="••••••••••••••" ngModel>
    </div>
    <div class="buttons">
    <div class="button">
        <input type="submit" value="Login" class="btn-register">
    </div>
    <div class="button">
       <form #f="ngForm" (ngSubmit) = "Signup(f)">
        <input type="submit" value="Signup" class="btn-register">
       </form>
    </div>
</div>
</form> 
        </div>
    </div>
</div>
