    <h1>Invoice</h1>
    <div class="mid">
    <pre>
    <div id="content">
    <div></div>
    </div>
    <div>
    <table id="contentToConvert">
    <tbody>
    <tr>
    <th><h2>Name</h2></th>
    <th><h2>In_Date</h2></th>
    <th><h2>Out_Date</h2></th>
    <th><h2>Fee</h2></th>
    </tr>
    <tr>
    <td>{{name}}</td>
    <td>{{in_date}}</td>
    <td>{{out_date}}</td>
    <td>{{fee}}</td>
    </tr>
    
    </tbody>
    </table>
    </div>
    </pre>
</div>
    
    <div>
        <strong>Click Here To Save Invoice</strong>
        </div>
        <div>
        <input type="button" value="Save" (click)="convetToPDF()"/>
        </div>
         
    